* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --primary: #D87D4A;
    --secondary: #101010;
    --tertiary: #F1F1F1;
    --quadrary: #FAFAFA;
    --quintary: #FBAF85;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    background-color: var(--quadrary);
    margin: 0;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
}

h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.overline {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--primary);
}

.subtitle {
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--primary);
}

#orange-highlight {
    color: #D87D4A;
}

#banner-text {
    color: #787878;
}

.btn-orange {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    color: #FFF;
    background-color: var(--primary);
    padding-right: 30px;
    padding-left: 30px;
    height: 48px;
}

.btn-orange:hover {
    cursor: pointer;
    background-color: var(--quintary);
}

.btn-white {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    padding-right: 30px;
    padding-left: 30px;
    height: 48px;
}

.btn-white:hover {
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}

.btn-black {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #000;
    border: 1px solid #000;
    margin: 0 auto;
    color: #FFF;
    padding-right: 30px;
    padding-left: 30px;
    height: 48px;
}

.btn-black:hover {
    background-color: #4C4C4C;
    cursor: pointer;
}

.btn-transp {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    opacity: 50%;
    height: 48px;
}

.btn-transp:hover {
    cursor: pointer;
    opacity: 0%;
    color: var(--primary);
}

.navbar-container {
    opacity: 100%;
    border-bottom: 1px solid #FFFFFF0F;
    position:absolute;
    height: 90px;
    width: 100%;
    display: flex;
    padding: 24px;
    z-index: 2;
}

.navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

.navbar-desktop-menu {
    display: none;
    gap: 35px;
}

.menu-mobile, .logo-mobile, .cart-mobile {
    display: flex;
}

.menu-mobile:hover, .logo-mobile:hover, .cart-mobile:hover {
    cursor: pointer;
}

.hero-banner {
    position: relative;
    margin-bottom: 60px;
}

.hero-banner img {
    width: 100%;
    margin-top: -30px;
}

.mobile-img {
    display: block;
}

.tablet-img {
    display: none;
}

.desktop-img {
    display: none;
}

.mobile-banner {
    display: block;
}

.tablet-banner {
    display: none;
}

.desktop-banner {
    display: none;
}

.hero-banner-text {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    padding: 24px;
    max-width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-banner .overline {
    color: #FFFFFF80;
}

.hero-banner-text h1 {
    color: #FFF;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.29px;
}

.hero-main-text {
    color: #FFF;
    opacity: 75%;
    padding-bottom: 28px;
}

.center-aligner {
    margin: 0 auto;
    max-width: 100%;
}

.products {
    display: flex;
    flex-direction: column;
}

.product-container {
    height: 217px;
    width: -webkit-fill-available;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
    color: #787878;
}

.product-container:hover {
    cursor: pointer;
}

.container-bg {
    background-color: var(--tertiary);
    border-radius: 8px;
    height: 165px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.product-img {
    height: fit-content;
    width: auto;
    position: absolute;
    left: 50%;
    top: -52px;
    margin-left: -82px;
}

.product-img img {
    max-height: 150px;
    width: auto;
}

.product-header {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.07px;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: #000;
}

.shop-item {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    padding-bottom: 20px;
}

.shop-item:hover {
    color: #D87D4A;
}

.orange-arrow {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary);
}

.speaker-product-box {
    background-color: var(--primary);
    width: auto;
    height: 600px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 24px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

.outer-circle, .middle-circle, .smol-circle {
    border-radius: 50%;
    border: 1px solid #FFFFFF80;
    background-color: transparent;
    left: 50%;
}

.outer-circle {
    width: 558px;
    height: 558px;
    position: absolute;
    margin-left: -279px;
    margin-top: -121px;
}

.middle-circle {
    width: 320px;
    height: 320px;
    position: absolute;
    margin-left: -160px;
    margin-top: -2px;
}

.smol-circle {
    width: 279px;
    height: 279px;
    position: absolute;
    margin-left: -139.5px;
    margin-top: 19px;
}

.preview-img-desktop {
    display: none;
}

.preview-img img {
    margin: 55px auto 24px auto;
    max-height: 207px;
}

.preview-header {
    font-size: 36px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 1.29px;
    line-height: 40px;
    padding-bottom: 24px;
}

.preview-maintext {
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFFBF;
    line-height: 25px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.product-header-mobile-black {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
    margin: 24px;
}

.zx7-product-box {
    height: 320px;
    max-width: 100%;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    overflow-y: hidden;
    border-radius: 8px;
}

.zx7-product-box img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
}

.zx7-mobile {
    display: contents;
}

.zx7-tablet {
    display: none;
}

.zx7-desktop {
    display: none;
}

.yx1-product-box {
    height: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.yx1-mobile {
    display: contents;
}

.yx1-tablet {
    display: none;
}

.yx1-desktop {
    display: none;
}

.yx1-product-box img {
    margin: 0 24px;
    border-radius: 8px;
}

.yx1-container {
    background-color: var(--tertiary);
    height: 200px;
    margin: 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.info-box {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 0 24px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.info-box img {
    max-height: 300px;
    border-radius: 8px;
}

.info-text-box {
    display: flex;
    flex-direction: column;
}

.info-img-mobile {
    display: block;
}

.info-img-tablet {
    display: none;
}

.info-img-desktop {
    display: none;
}


.info-text {
    color: #787878;
}

.footer {
    background-color: var(--secondary);
    color: #787878;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.top-rectangle {
    background-color: var(--primary);
    height: 4px;
    width: 101px;
    margin: 0px auto 48px 137px;
}

.footer-links {
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}


a {
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 25px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover {
    cursor: pointer;
    color: var(--primary);
}

.btn-orange a:hover {
    cursor: pointer;
    color: #FFF;
}

.footer-info {
    margin: 0 24px;
    text-align: center;
    padding-bottom: 48px;
}

.copyright {
    display: inline;
}

.social-media {
    display: flex;
    margin: 48px;
    gap: 16px;
}

.social-media:hover {
    cursor: pointer;
    background: var(--primary);
}

.modal-bg-menu {
    background-color: #00000080;
    height: 820%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.modal-box-menu {
    position: relative;
    height: fit-content;
    width: auto;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    margin-top: 90px;
    padding: 32px 28px;
    z-index: 2;
}

@media (min-width: 768px) {
    .navbar-container {
        border-bottom: none;
        padding: 40px;
    }

    .navbar-mobile {
        border-bottom: 1px solid #FFFFFF0F;
        padding-bottom: 40px;
    }

    .hero-banner {
        margin-bottom: 100px;
    }
    
    .products {
        flex-direction: row;
        margin: 16px 40px;
        max-width: 100%;
        gap: 10px;
        padding-bottom: 40px;
    }

    .product-container {
        padding-left: 0;
        padding-right: 0;
    }

    .mobile-img {
        display: none;
    }

    .tablet-img {
        display: contents;
    }

    .hero-banner-text {
        max-width: 390px;
    }

    .hero-banner-text h1 {
        font-size: 56px;
        line-height: 58px;
        letter-spacing: 2px;
        max-width: 400px;
    }

    .speaker-product-box {
        margin: 0 40px;
        height: 720px;
    }

    .preview-img img {
        margin-bottom: 82px;
    }

    .preview-header {
        font-size: 56px;
        line-height: 58px;
        letter-spacing: 2px;
    }

    .preview-maintext {
        max-width: 379px;
    }

    .outer-circle {
        height: 944px;
        width: 944px;
        margin-left: -472px;
        margin-top: -288px;
    }
    
    .middle-circle {
        height: 542px;
        width: 542px;
        margin-left: -271px;
        margin-top: -87px;
    }
    
    .smol-circle {
        height: 472px;
        width: 472px;
        margin-left: -236px;
        margin-top: -52px;
    }
    
    .btn-black {
        position: relative;
        margin-top: 20px;
    }
    
    .zx7-product-box {
        margin: 32px 40px;
    }
    
    .zx7-mobile {
        display: none;
    }
    
    .zx7-tablet {
        display: contents;
    }
    
    .yx1-mobile {
        display: none;
    }
    
    .yx1-tablet  {
        display: contents;
    }
    
    .yx1-product-box img {
        max-height: 320px;
        margin: 0;
    }
    
    .yx1-product-box {
        flex-direction: row;
        max-width: 100%;
        padding: 0 40px;
        gap: 10px;
        justify-content: center;
    }
    
    .yx1-container {
        margin: 0;
        height: auto;
        width: -webkit-fill-available;
    }
    
    .info-img-mobile {
        display: none;
    }
    
    .info-img-tablet {
        display: block;
    }
    
    h4 {
        max-width: 573px;
        margin: 40px auto 32px auto;
        font-size: 40px;
        line-height: 44px;
    }
    
    .info-text {
        max-width: 573px;
        margin: auto;
    }
    
    .top-rectangle {
        margin-left: 40px;
    }
    
    .logo-mobile {
        margin: 8px auto 0 40px;
    }
    
    .footer-links {
        flex-direction: row;
        margin-left: 40px;
        margin-right: auto;
        gap: 34px;
    }
    
    .footer-info {
        text-align: left;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .copyright {
        display: flex;
        margin-right: auto;
        margin-left: 40px;
    }
    
    .social-media {
        position: relative;
        margin: 0 40px 20px auto;
        bottom: 28px;
    }
}

@media (min-width: 1280px) {
    .navbar-container {
        border-bottom: none;
    }
    
    .menu-mobile {
        display: none;
    }
    
    .navbar-mobile {
        margin: -40px 141px;
        padding-bottom: 0;
    }
    
    .navbar-desktop-menu {
        display: flex;
    }
    
    .navbar-mobile a {
        gap: 35px;
    }
    
    .navbar-mobile .logo-mobile {
        margin: 0;
    }
    
    .navbar-mobile .cart-mobile {
        margin: 0;
    }
    
    .tablet-img {
        display: none;
    }
    
    .desktop-img {
        display: block;
    }
    
    .hero-banner-text {
        margin: 0 165px;
        text-align: left;
        align-items: flex-start;
        padding: 0;
    }
    
    .hero-main-text {
        max-width: 349px;
    }

    .product-container {
        width: -webkit-fill-available;
    }
    
    .speaker-product-box {
        flex-direction: row;
        justify-content: space-evenly;
        height: 560px;
        overflow: hidden;
        max-width: 1110px;
    }

    .outer-circle {
        height: 944px;
        width: 944px;
        margin-left: -672px;
        margin-top: 288px;
    }
    
    .middle-circle {
        height: 542px;
        width: 542px;
        margin-left: -467px;
        margin-top: 276px;
    }
    
    .smol-circle {
        height: 472px;
        width: 472px;
        margin-left: -432px;
        margin-top: 276px;
    }
    
    .preview-img {
        display: none;
    }
    
    .preview-img-desktop {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -402px;
    }
    
    .preview-img-desktop img {
        max-height: 420px;
        position: relative;
        margin-top: 200px;
        margin-left: 35px;
    }

    .zx9-maintext {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        position: absolute;
        left: 50%;
        margin-left: 116px;
    }

    .zx9-maintext .preview-maintext {
        padding-left: 0;
    }

    .zx9-maintext .btn-black {
        margin-left: 0;
    }

    .products {
        margin: 0 165px;
        gap: 30px;
        max-width: 1110px;
    }

    .speaker-product-box {
        margin: 0 165px;
    }

    .zx7-tablet {
        display: none;
    }

    .zx7-desktop {
        display: contents;
    }
    
    .zx7-product-box {
        margin: 48px 165px;
        align-items: center;
    }

    .zx7-product-box .product-header-mobile-black {
        position: absolute;
        right: 50%;
        margin-right: 160px;
    }

    .yx1-tablet {
        display: none;
    }

    .yx1-desktop {
        display: contents;
    }

    .yx1-product-box {
        margin: 0 165px;
        padding: 0;
    }

    .yx1-container {
        max-width: 560px;
    }

    .info-img-tablet {
        display: none;
    }

    .info-img-desktop {
        display: contents;
    }

    .info-box img {
        max-height: fit-content;
        width: 490px;
    }

    .info-box {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 165px;
    }

    .info-text-box {
        flex-direction: column;
        text-align: left;
    }

    h4 {
        max-width: 500px;
    }

    .info-text {
        max-width: 445px;
        margin: 0;
    }

    .footer {
        align-items: flex-start;
    }

    .top-rectangle {
        margin-left: 165px;
    }

    .logo-mobile {
        margin-left: 165px;
    }

    .footer-links {
        margin: 0 165px 0 auto;
        position: relative;
        top: -36px;
    }

    .footer-info {
        margin-left: 165px;
        width: 540px;
    }

    .copyright {
        margin-left: 165px;
    }

    .social-media {
        margin-right: 165px;
        bottom: 80px;
    }

    .modal-bg-menu {
        display: none;
    }
}
