* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --primary: #D87D4A;
    --secondary: #101010;
    --tertiary: #F1F1F1;
    --quadrary: #FAFAFA;
    --quintary: #FBAF85;
}

body {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    background-color: var(--quadrary);
    margin: 0;
    width: auto;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
}

h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.overline {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--primary);
}

.subtitle {
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--primary);
}

.btn-orange {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    color: #FFF;
    background-color: var(--primary);
    padding: 15px 30px;
}

.btn-orange:hover {
    cursor: pointer;
    background-color: var(--quintary);
}

.btn-white {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    padding: 15px 30px;
}

.btn-white:hover {
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}

.btn-black {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #000;
    border: none;
    margin: 0 auto;
    color: #FFF;
    padding: 15px 30px;
}

.btn-black:hover {
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
}

.btn-transp {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    opacity: 50%;
}

.btn-transp:hover {
    cursor: pointer;
    opacity: 0%;
    color: var(--primary);
}

.navbar-container {
    opacity: 100%;
    border-bottom: 1px solid #FFFFFF0F;
    position:absolute;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

.menu-mobile, .logo-mobile, .cart-mobile {
    display: flex;
}

.menu-mobile:hover, .logo-mobile:hover, .cart-mobile:hover {
    cursor: pointer;
}

.hero-banner-mobile {
    position: relative;
    margin-bottom: 60px;
}

.hero-banner-mobile img {
    width: 100%;
    margin-top: -30px;
}

.hero-banner-mobile-text {
    position: absolute;
    top: 25%;
    text-align: center;
    padding: 24px;
}

.hero-banner-mobile .overline {
    color: #FFFFFF80;
}

.hero-banner-mobile-text #hero-header-mobile {
    color: #FFF;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.29px;
}

.hero-main-text-mobile {
    color: #FFF;
    opacity: 75%;
    padding-bottom: 28px;
}

.product-container {
    height: 217px;
    width: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
}

.container-bg {
    background-color: var(--tertiary);
    border-radius: 8px;
    height: 165px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.product-img {
    height: fit-content;
    width: auto;
    position: absolute;
    left: 50%;
    top: -52px;
    margin-left: -82px;
}

.product-img img {
    max-height: 150px;
    width: auto;
}

.product-header {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.07px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.shop-item {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #787878;
    display: flex;
    padding-bottom: 20px;
}

.orange-arrow {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary);
}

.speaker-product-box {
    background-color: var(--primary);
    width: auto;
    height: 600px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 24px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.outer-circle, .middle-circle, .smol-circle {
    border-radius: 50%;
    border: 1px solid #FFFFFF80;
    background-color: transparent;
    left: 50%;
}

.outer-circle {
    width: 558px;
    height: 558px;
    position: absolute;
    margin-left: -279px;
    margin-top: -121px;
}

.middle-circle {
    width: 320px;
    height: 320px;
    position: absolute;
    margin-left: -160px;
    margin-top: -2px;
}

.smol-circle {
    width: 279px;
    height: 279px;
    position: absolute;
    margin-left: -139.5px;
    margin-top: 19px;
}

.preview-img img {
    margin: 55px auto 24px auto;
    max-height: 207px;
}

.preview-header {
    font-size: 36px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 1.29px;
    line-height: 40px;
    padding-bottom: 24px;
}

.preview-maintext {
    font-size: 15px;
    font-weight: 500;
    color: #FFF;
    line-height: 25px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.product-header-mobile-black {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
    margin: 24px;
}

.zx7-product-box {
    height: 320px;
    width: auto;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

.zx7-product-box img {
    max-height: 320px;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
}

.yx1-product-box {
    height: fit-content;
    width: auto;
}

.yx1-product-box img {
    max-height: 200px;
    margin: 24px;
    border-radius: 8px;
}

.yx1-container {
    background-color: var(--tertiary);
    height: 200px;
    margin: 24px;
    display: flex;
    align-items: center;
}
