.modal-bg {
    background-color: #00000080;
    height: 820%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.modal-box {
    position: relative;
    height: fit-content;
    width: 327px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 128px;
    margin-right: 24px;
    margin-left: auto;
    padding: 32px 28px;
    z-index: 2;
}

.cart-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.cart-top-left {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.29px;
}

.cart-top-right a {
    color: #00000080;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: normal;
}

.cart-top-right a:hover {
    color: #D87D4A;
    cursor: pointer;
}

.cart-contents {
    display: flex;   
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-img img {
    height: 64px;
    width: 64px;
    border-radius: 8px;
}

.cart-item .amount-box .reduce-amount {
    height: 32px;
    width: 32px;
}

.cart-item .amount-box input {
    height: 32px;
    width: 32px;
}

.cart-item .amount-box .increase-amount {
    height: 32px;
    width: 32px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95px;
}

.item-name {
    font-weight: 700;
}

.item-price {
    font-size: 14px;
    font-weight: 700;
    color: #00000080;
    letter-spacing: 0px;
}

.cart-totals {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 24px;
}

.totals-left {
    color: #00000080;
}

.totals-right {
    color: #000;
    font-size: 18px;
}

.modal-box .btn-orange {
    width: 100%;
}

.navbar-container {
    z-index: 2;
}

.navbar-bg {
    background-color: #000;
    width: 100%;
    height: 80px;
}

.go-back a {
    display: none;
}

.product-image-tablet {
    display: none;
}

.product-text-box {
    align-items: flex-start;
    text-align: left;
}

.amount-box {
    display: flex;
    gap: 16px;
    align-items: center;
}

.product-text-box .btn-orange {
    margin-top: 0;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.29px;
    color: #000;
    padding-top: 16px;
    padding-bottom: 16px;
}

input {
    width: 40px;
    height: 48px;
    border: none;
    background-color: #F1F1F1;
    border-left: none;
    border-right: none;
    margin: 0;
    text-align: center;
}

.reduce-amount, .increase-amount {
    height: 48px;
    width: 40px;
    margin: 0 -3px;
    border: none;
    color: #00000080;
    font-weight: 700;
}

.features-box {
    display: flex;
    flex-direction: column;
    margin: 88px 24px
}

.underheader {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .86px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;
}

.product-text-box .underheader {
    color: #000;
    text-align: left;
}

.features-box .underheader {
    text-align: left;
}

.features-maintext {
    color: #787878;
    margin-bottom: 88px;
}

.stuff-inside {
    display: flex;
    flex-direction: column;
}

.stuff-list {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-bottom: 8px;
}

.stuff-amount {
    color: #D87D4A;
    font-weight: 700;
}

.stuff-thing {
    padding-left: 24px;
    font-weight: 500;
    color: #787878;
    text-transform: capitalize;
}

.image-set {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 24px 80px 24px;
}

.left-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.right-image {
    display: flex;
    justify-content: center;
}

.left-images img {
    max-height: 174px;
    border-radius: 8px;
}

.right-image img {
    max-height: 368px;
    border-radius: 8px;
}

.recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 24px 100px 24px;
}

.rec-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: -webkit-fill-available;;
}

.rec-img-bg-mobile, .rec-img-bg-tablet, .rec-img-bg-desktop {
    border-radius: 8px;
}

.rec-img-bg-tablet {
    display: none;
}

.rec-img-bg-desktop {
    display: none;
}

.rec-item img {
    max-width: 100%;
    border-radius: 8px;
}

.rec-item .underheader {
    margin: 32px auto;
}

.rec-item .btn-orange {
    margin-bottom: 56px;
}



@media (min-width: 768px) {
    .modal-bg {
        height: 538%;
    }

    .go-back a {
        display: block;
        line-height: 25px;
        text-transform: capitalize;
        color: #00000080;
        margin-top: 33px;
        margin-left: 40px;
    }

    .product-image-mobile {
        display: none;
    }

    .product-image-tablet {
        display: contents;
    }

    .underheader {
        color: #000;
        margin: 17px auto 32px 0;
        font-weight: 700;
        font-size: 32px;
    }

    .center-aligner .product-container-preview {
        display: flex;
        flex-direction: row;
        gap: 69px;
        margin-top: 24px;
    }

    .center-aligner .product-container-preview .product-bg {
        height: 480px;
        width: 480px;
    }
    
    .product-image-tablet img {
        height: 318px;
        margin-top: 70px;
        margin-left: -106px;
    }

    .features-box {
        margin: 88px 40px;
    }
    
    .stuff-inside {
        flex-direction: row;
        justify-content: space-between;
    }

    .stuff-list {
        margin-right: auto;
        margin-left: 170px;
    }

    .image-set {
        flex-direction: row;
        justify-content: center;
        gap: 18px;
    }

    .recommendations {
        flex-direction: row;
        gap: 11px;
        margin: 0 40px 100px 40px;
    }

    .rec-img-bg-mobile {
        display: none;
    }

    .rec-img-bg-tablet {
        display: contents;
    }
}

@media (min-width: 1280px) {
    .modal-bg {
        height: 508%;
    }

    .recommendations {
        margin: 0 165px 100px 165px;
        max-width: 1110px;
    }

    .rec-img-bg-tablet {
        display: none;
    }

    .rec-img-bg-desktop {
        display: contents;
    }

    .product-bg .product-image-desktop img {
        margin-top: -80px;
        margin-left: -468px;
    }

    .features-box {
        max-width: 1110px;
        margin: 0 auto;
        flex-direction: row;
        gap: 125px;
    }
    .features-text {
        max-width: 635px;
    }

    .stuff-inside {
        flex-direction: column;
    }

    .stuff-list {
        margin-left: 0;
        margin-bottom: auto;
    }
    .stuff-amount {
        padding-bottom: 8px;
    }

    .left-images img {
        max-height: 280px;
        border-radius: 8px;
    }
    
    .right-image img {
        max-height: 592px;
        border-radius: 8px;
    }
}